*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FFE87C;
    font-family: sans-serif;
}
.container{
    width: 30%;
    height: 50%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.header{
    display: flex;
    flex-direction: column;
    justify-content: right;
}
.title{
    font-weight: bold;
    font-size: 2rem;
    color: orange;
    margin-bottom: 10px;
}
.input{
    display: inline-block;
    border: solid black;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    width: 100%;
    height: 6rem;
    padding-right: 10px;
    text-align: right;
}
.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.content{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 100%;
    gap: 8%;
}
.items{
    color: black;
    font-weight: bold;
    font-size: 2rem;
    cursor: pointer;
    background-color: lightgray;
    text-align: center;
    border: none;
    border-radius: 20px;
}
.items:nth-of-type(17){
    grid-column: 1/3;
}